.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* flex-wrap: wrap; */
}



/* @media (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: center;
  }

  .charts-container {
    flex-direction: column;
  }

  .map-container {
    margin-top: 20px;
    flex-direction: column;
  }
} */
